<div class="container main-container col-xs-12 col-md-12 contenedor">

  <div class="logo">
    <img src="../../assets/img/citibox-logo.png" alt="">
  </div>

  <div class="row">
    <div class="inputs">

<span class="emoji-woman">💁🏻</span>
    </div>
  </div>

  <div class="clear-fix"></div>

  <div class="col-xs-12 center boton-citi">
    <p class="info-wooops">¡Wooops!</p>
  </div>
  <div class="col-xs-12 center boton-citi">
      <p *ngIf="problema === 'anterior'" class="info-regular">Esta URL pertenece a una transacción antigua. Revisa los mensajes más recientes de tu <br> bandeja de entrada.</p>
      <p *ngIf="problema === 'lectura'" class="info-regular">Hemos tenido un problema recuperando tu pedido</p>
    </div>
</div>