<div class="container main-container col-xs-12 col-md-12 contenedor">
  <div class="logo">
    <img src="../../assets/img/citibox-logo.png" alt="">
  </div>
  <div class="row">
    <div class="inputs">
      <span class="emoji-woman">🌟</span>
    </div>
  </div>
  <div class="cuidamos">
    <p>¿Te ha gustado cómo hemos cuidado de tu pedido?</p>
  </div>
  <div class="row w-100 m-0">
    <div class="number">
      <button type="button" value="" name="">😡</button>
    </div>
    <div class="number">
      <button type="button" value="" name="">☹️</button>
    </div>
    <div class="number">
      <button type="button" value="" name="">😐</button>
    </div>
    <div class="number">
      <button type="button" value="" name="">😁</button>
    </div>
    <div class="number">
      <button type="button" value="" name="">🤩</button>
    </div>
  </div>
  <br>
  <div class="col-xs-12 center">
    <p class="info-regular">Para más ventajas únete a citibox</p>
  </div>
  <div class="col-xs-12 center boton-citi">
    <button (click)="handleClick()" class="btn btn-block boton">Sííí, quiero unirme</button>
  </div>
</div>