<div class="container main-container col-xs-12 col-md-12 contenedor">

  <div class="logo">
    <img src="../../assets/img/citibox-logo.png" alt="">
  </div>

  <div class="row">
    <div class="inputs">

      <span class="emoji-woman">🤔</span>
    </div>
  </div>

  <div class="cuidamos">
    <p>Algo raro ha pasado, pero
      <br> tranquilo, una llamada y todo
      <br> arreglado</p>
  </div>
  <br>

  <div class="col-xs-12 center boton-citi">
    <button (click)="handleClick()" class="btn btn-primary btn-block boton">Que me llame citibox</button>

    <button (click)="handleClick()" class="btn btn-primary btn-block boton white-button">No, mejor llamo yo</button>
  </div>
</div>