<!-- <form novalidate
[formGroup]="form"
(ngSubmit)="onSubmit(form.value)">

<input type="text" formControlName="letra" placeholder="C"> 
<div *ngIf="letraIncorrecta"><p>¡Upss!☹️ La letra es incorrecta</p>
<p>Inténtalo de nuevo</p></div>
<button type="submit" [disabled]="!form.valid">Generar Codigo</button>

</form> -->

<div class="container main-container col-xs-12 col-md-12 contenedor">  
 
    <div class="logo">
      <img src="../../assets/img/citibox-logo.png" alt="">
    </div>
  
      <div class="cuidamos">
        <p> ¿Qué letra te aparece en la cerradura de tú botón?</p>
      </div>
  
      <div class="numberbuzon align-items-center blocker-img">
       <img class="blocker" src="/assets/img/locker-citibox-2.svg" alt="">
        </div>
     <form novalidate
     [formGroup]="form"
     (ngSubmit)="onSubmit(form.value)">
        <div class="letter-container">
          <input formControlName="letra" placeholder="LETRA" maxlength="1">
        </div>
        <div *ngIf="numFallos === 0" class="principal-info">
          <p>Para continuar debes estar en la<br>
            dirección correcta y delante del buzón indicado</p>
        </div>
      <div *ngIf="numFallos === 1" class="principal-info">
        <p>¡Upss!☹️ La letra es incorrecta.<br>
          Inténtalo de nuevo</p>
      </div>
      <div *ngIf="numFallos === 2" class="principal-info">
          <p>Umm...🤔 Esta letra tampoco es la correcta. <br>
            Te queda 1 intento</p>
        </div>
      <div *ngIf="numFallos === 3" class="principal-info">
          <p>¡Vaya! 🙈 Has agotado las 3 oportunidades. <br>
            Vuelve a intentarlo en 2 minutos</p>
          </div>
      <div class="col-xs-12 center boton-citi">
        <button type="submit" [disabled]="!form.valid || disable" class="btn btn-primary btn-block boton">Generar código</button>
      </div>
      </form>
  </div>




