.contenedor{
    text-align: center;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
 }
 img{
   width: 120px; 
   margin: 0 auto;
   padding: 3%;
   margin-top: 1em;
 }
 .cuidamos{
   width: 325px;
   margin: 0 auto;
   padding: 2em;
   padding-top: 1em;
   padding-bottom: 0;
   font-family:"CitiFont", serif;
   font-weight: normal;
   color: #7942ed;
   line-height: 1.2;
 }
 .numberbuzon{
    margin: 40px 0;
 }
 h2{
    font-size: 2.2em;
    font-family: CitiFont;
    color: #675f76;
 }
 h3{
    font-size: 6em;
    color: #675f76;
    font-family: CitiFont;
 }
 .principal-info p{
    font-family: 'Lato', serif;
    color: #7942ed;
    font-weight: 500;
    padding: 2%;
    line-height: 1.2;
    margin-top: 0.7em;
 }
 .boton-citi{
 margin: 1.5em 1em;
 }
  .boton {
    display: inline-block;
    width: 256px;
    background-color: #7942ed;
    padding: 15px 40px;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    position: relative;
    bottom: 0;
  }
  
  ::placeholder{
     text-align: center;
     font-size: 12px;
  }
  /* CERRADURA */
  .blocker{
     width: 139px;
  }
  
  img.blocker{
     margin-top: 0;
  }
  .blocker-img{
   padding-top: 0;
  }
  .letter-container input{
    content:'';
    width: 120px;
    height: 60px;
    max-height: 60px; 
    border: solid 1px #7942ed;
    border-radius: 8px;
    padding: 0.82em 1em;
    line-height: 28px;
    resize:none;
   
 }
 .blocker-img{
 margin: 1em 0;
 }
 :focus::-webkit-input-placeholder {
   opacity: 0.2;
   
   display: flex;
   margin: 0 auto;
   justify-content: center;
   text-align: center;
 }
 .focus-letra { 
   text-align: center;
   font-size:35px;
   font-family: CitiFont;
   line-height: 10px;
   color: #675f76;
 }

 input:focus::placeholder{
   color:transparent;
   backface-visibility: unset;
 }

 .principal-info p.red{
   color: #ed4e42;
 }

 .letter-container2 input{
  content:'';
  width: 120px;
  height: 60px;
  max-height: 60px; 
  border: solid 1px #ed4e42;
  border-radius: 8px;
  padding: 0.82em 1em;
  line-height: 28px;
  resize:none;
 
}
 
 