<div class="container main-container col-xs-12 col-md-12 contenedor">

  <div class="logo">
    <img src="../../assets/img/citibox-logo.png" alt="">
  </div>

  <div class="row">
    <div class="inputs">

<span class="emoji-woman">🎊</span>
    </div>
  </div>

  <div class="clear-fix"></div>

  <div class="col-xs-12 center boton-citi">
    <p class="info-wooops">¡Yuhuuuuu!</p>
  </div>
  <div class="col-xs-12 center boton-citi">
      <p class="info-regular">Gracias por unirte a Citibox estamos encantados de tenerte con nosotros</p>
    </div>
 <div class="col-xs-12 center boton-citi">
  <a href="https://www.google.com/"><button class="btn btn-primary btn-block boton">¡Salir!</button></a>
    </div>


</div>